<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">
 <bean id="accBean" class="myproject.pnamespace.beans.Account" p:accNo="121" p:accName="Himanshu" p:accType="Savings" p:balance="500000">
  <property name="accNo" value="123"/>
 <property name="accName" value="AAA"/>
 <property name="accType" value="Savings"/>
 <property name="balance" value="700000"/>
 </bean>
 
 <bean id="empBean" class="myproject.pnamespace.beans.Employee" p:eid="E-111" p:ename="Tofique" p:esal="2500000" p:eaddr="indore" p:acc-ref="accBean">
 <property name="eid" value="E-111"/>
 <property name="ename" value="Himanshu"/>
 <property name="esal" value="2700000"/>
 <property name="eaddr" value="Ujjain"/>
 <property name="acc" ref="accBean"></property>
 </bean>
</beans>